<section class="about">
    <div class="container">
        <h2 class="about-title">ABOUT</h2>
        <div class="about-wrapper">
            <p class="about-desc">We are a minimalistic flower studio. We love people and flowers. Therefore, every day
                we
                give people the
                beauty and joy
                creating stylish and modern masterpieces. Every bouquet we create is unique as you are.</p>
            <picture>


                <source media="(min-width: 1158px)" srcset="./img/about/desc1x.png 1x, ./img/about/desc2x.png 2x"
                    type="image/png" />


                <source media="(min-width: 768px)" srcset="./img/about/tab1x.png 1x, ./img/about/tab1x.png 2x"
                    type="image/png" />


                <source media="(max-width: 767px)" srcset="./img/about/mob1x.png 1x, ./img/about/mob1x.png 2x"
                    type="image/png" />
                <img src="./img/about/desc1x.png" alt="protea" width="632" height="344" loading="lazy" />
            </picture>
        </div>
    </div>
</section>