<section class="delivery">
    <div class="container">
        <h2 class="delivery-title">DELIVERY</h2>
        <ol class="delivery-list">
            <li class="delivery-item">
                <span class="delivery-dots">1</span>
                <p class="delivery-desc">Choose your bouquet and make an order on website</p>
            </li>
            <li class="delivery-item">
                <span class="delivery-dots">2</span>
                <p class="delivery-desc">Wait for the call to clarify the details of the order. You can pay online or to
                    the courier</p>
            </li>
            <li class="delivery-item">
                <span class="delivery-dots">3</span>
                <p class="delivery-desc">Wait for the delivery at the selected time or pick up the order from the store
                </p>
            </li>
            <li class="delivery-item">
                <span class="delivery-dots">4</span>
                <p class="delivery-desc">Make someone happy or enjoy yourself</p>
            </li>

        </ol>
    </div>
</section>