<section class="hero">
    <div class="container">
        <div class="wrap-hero-text">
            <p class="hero-text">flower
                studio</p>

            <img src="../img/hero/mob-1x.png" alt="">
            <div class="circle">
                <div class="logo"></div>
                <div class="text">
                    <p>
                        shop now shop now shop now
                    </p>
                </div>
            </div>
        </div>
        <h1 class="hero-title"></h1>
    </div>
</section>