<section class="store">
    <div class="container">
        <h2 class="store-title">STORE</h2>
        <ul class="store-list">
            <li class="store-item">
                <picture class="store-img">
                    <source media="(min-width: 1280px)"
                        srcset="./img/store/desc1-1x.jpeg 1x, ./img/store/desc1-2x.jpeg 2x" type="image/jpg" />

                    <source media="(min-width: 768px)" srcset="./img/store/tab1-1x.jpeg 1x, ./img/store/tab1-2x.jpeg 2x"
                        type="image/jpg" />

                    <source media="(max-width: 767px)" srcset="./img/store/mob1-1x.jpeg 1x, ./img/store/mob1-2x.jpeg 2x"
                        type="image/jpg" />
                    <img src="./img/store/desc1-1x.jpeg" alt="flowers" width="600" height="542" loading="lazy" />
                </picture>
                <div class="store-wrapper">
                    <h3 class="store-subtitle">compliments</h3>
                    <div class="store-line"></div>
                </div>
                <p class="stote-desk">from $15</p>
            </li>
            <li class="store-item">
                <picture class="store-img">
                    <source media="(min-width: 1280px)"
                        srcset="./img/store/desc2-1x.jpeg 1x, ./img/store/desc2-2x.jpeg 2x" type="image/jpg" />

                    <source media="(min-width: 768px)" srcset="./img/store/tab2-1x.jpeg 1x, ./img/store/tab2-2x.jpeg 2x"
                        type="image/jpg" />

                    <source media="(max-width: 767px)" srcset="./img/store/mob2-1x.jpeg 1x, ./img/store/mob2-2x.jpeg 2x"
                        type="image/jpg" />
                    <img src="./img/store/desc2-1x.jpeg" alt="flowers" width="600" height="542" loading="lazy" />
                </picture>
                <div class="store-wrapper">
                    <h3 class="store-subtitle">bouquets size S</h3>
                    <div class="store-line"></div>
                </div>
                <p class="stote-desk">from $25</p>
            </li>
            <li class="store-item">
                <picture class="store-img">
                    <source media="(min-width: 1280px)"
                        srcset="./img/store/desc3-1x.jpeg 1x, ./img/store/desc3-2x.jpeg 2x" type="image/jpg" />

                    <source media="(min-width: 768px)" srcset="./img/store/tab3-1x.jpeg 1x, ./img/store/tab3-2x.jpeg 2x"
                        type="image/jpg" />

                    <source media="(max-width: 767px)" srcset="./img/store/mob3-1x.jpeg 1x, ./img/store/mob3-2x.jpeg 2x"
                        type="image/jpg" />
                    <img src="./img/store/desc3-1x.jpeg" alt="flowers" width="600" height="542" loading="lazy" />
                </picture>
                <div class="store-wrapper">
                    <h3 class="store-subtitle">bouquets size M</h3>
                    <div class="store-line"></div>
                </div>
                <p class="stote-desk">from $45</p>
            </li>
            <li class="store-item">
                <picture class="store-img">
                    <source media="(min-width: 1280px)"
                        srcset="./img/store/desc4-1x.jpeg 1x, ./img/store/desc4-2x.jpeg 2x" type="image/jpg" />

                    <source media="(min-width: 768px)" srcset="./img/store/tab4-1x.jpeg 1x, ./img/store/tab4-2x.jpeg 2x"
                        type="image/jpg" />

                    <source media="(max-width: 767px)" srcset="./img/store/mob4-1x.jpeg 1x, ./img/store/mob4-2x.jpeg 2x"
                        type="image/jpg" />
                    <img src="./img/store/desc4-1x.jpeg" alt="flowers" width="600" height="542" loading="lazy" />
                </picture>
                <div class="store-wrapper">
                    <h3 class="store-subtitle">bouquets size L</h3>
                    <div class="store-line"></div>
                </div>
                <p class="stote-desk">from $60</p>
            </li>
        </ul>
        <button type="button" class="store-btn">Order flowers</button>
    </div>
</section>